body{
  background-color: #D4F8F6;
}
h1.tropical{
    color: #f7325e;
    font-family: fantasy;
}
p.tropical{
  color: #7dc410;
}
h1.popular{
  color: #7dc410;
  font-family: fantasy;
}
p.popular{
  color: #f7325e;
}
#about{
  color: #f7325e;
}
h3#about{
  text-align: center;
}
